fixed-full-screen()
  position fixed
  top 0
  left 0
  bottom 0
  right 0

border-top-radius($radius) 
  border-top-right-radius $radius
   border-top-left-radius $radius

border-right-radius($radius) 
  border-bottom-right-radius $radius
     border-top-right-radius $radius

border-bottom-radius($radius) 
  border-bottom-right-radius $radius
   border-bottom-left-radius $radius

border-left-radius($radius) 
  border-bottom-left-radius $radius
     border-top-left-radius $radius

btn()
  position relative
  display inline-block
  font-weight 400
  white-space nowrap
  text-align center
  background-image none
  border 1px solid transparent
  box-shadow 0 2px 0 rgba(0,0,0,0.015)
  cursor pointer
  transition all 0.3s @ease-in-out
  user-select none
  touch-action manipulation
  height 32px
  padding 0 15px
  font-size 14px
  border-radius 4px
  color rgba(0,0,0,0.65)
  background-color #fff
  border-color #D9D9E4
 
  &,
  &:active,
  &:focus
    outline 0
  &:not([disabled]):hover
    text-decoration none

  &:not([disabled]):active
    outline 0
    box-shadow none

  &.disabled,
  &[disabled]
    cursor not-allowed
    > * 
      pointer-events none

flex() 
  display flex

flex-ac()
  display flex
  align-items center

flex-jc()
  display flex
  justify-cotent center

flex-center()
  display flex
  align-items center
  justify-cotent center